html {
    height: 100%;
}

body {
    padding-top: 52px;
    height: 100%;
    background: #f7f7f7;
}

.navbar-inverse  .navbar-brand:hover {
    text-shadow: 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(153,153,153,.6);
}

.content {
    position: relative;
    min-height: 100%;
    padding-bottom: 60px;
}

.carousel {
    margin-bottom: 20px;
}

.navbar-brand > .glyphicon,
.contact-address-list .fa {
    color: #fe9900;
}

.has-feedback > .fa {
    color: #999;
}

.form-control:focus + .fa {
    color: #66afe9;
}

.about-principles:hover .fa {
    color: #5cb85c;
}

.about-team:hover .fa {
    color: #fe9900;
}

.about-today:hover .fa {
    color: #999;
}

.about-tomorrow:hover .fa {
    color: #3276b1;
}

.contact-address > address {
    margin-bottom: 0px;
}

.contact-address-list {
    margin-bottom: 5px;
    height: 20px;
    overflow: hidden;
}

.contact-map {
    width: 100%;
    height: 450px;
}

.footer {
    position: static;
    bottom: 0;
    width: 100%;
    margin-top: -51px;
    line-height: 50px;
    background: #f7f7f7;
    color: #999;
    border-top: 1px solid #999;
    background: url('../img/footer-bg.jpg');
}

