<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} - SimpleSilex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/syntax.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    {{ page.head_include }}
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="logo"></span> {{ site.name }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li{{ page.active_home }}><a href="/">Home</a></li>
                    <li{{ page.active_products }}><a href="/products/">Products</a></li>
                    <li{{ page.active_about }}><a href="/about/">About us</a></li>
                    <li{{ page.active_contacts }}><a href="/contacts/">Contacts</a></li>
                </ul>
                <a href="https://github.com/simplesilex" class="btn btn-success navbar-btn  navbar-right">
                    <span class="fa fa-github fa-lg"></span> View on GitHub
                </a>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <div class="content container">
{{ content }}
    </div>
    <footer class="footer text-center">
        &copy; 2014 SimpleSilex
    </footer>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    {{ page.foot_include }}
</body>
</html>
